<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Home - FileUp</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <main class="container">
      <h1 class="text-center">Welcome to FileUp</h1>
      <% if (!locals.currentUser) { %>
      <div class="center">
        <h2 class="text-center">Please login or create an account!</h2>
      </div>
      <% } else { %>
      <h2 class="text-center">Hello <%= currentUser.name %>! <br /></h2>
        <% if (folders.length > 0) { %>
        <section>
          <h3>Folders</h3>
            <% folders.forEach(folder => { %>
            <article>
              <a href="/user/folders/<%= folder.id %>"><%= folder.name %></a>
            </article>
            <% }) %>
        </section>
        <% } else { %>
        <p class="text-center">
          You don't have any folders yet. Please
          <a href="/user/folders/">create a folder</a>
          first.
        </p>
        <% } %>
      </article>
      <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
