<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Login - FileUp</title>
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <h1 class="text-center">Login</h1>
      <% if (locals.messages && locals.messages.length > 0) { %>
      <div class="text-center">
        <p><mark><%= messages[messages.length - 1] %></mark></p>
      </div>
      <% } %>
      <form id="loginForm" method="POST" action="/login">
        <%- include('../partials/input', { inputOpts: { name: 'email', label:
        'Email', placeholder: 'Your email' } }) %> <%-
        include('../partials/input', { inputOpts: { name: 'password', label:
        'Your password', placeholder: '', type: 'password' } }) %>
        <button type="submit">Login</button>
      </form>
      <div class="text-center">
        <a href="/signup">Don't have an account?</a>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const loginForm = document.getElementById('loginForm');
        const submitButton = loginForm.querySelector('button[type="submit"]');

        loginForm.addEventListener('submit', () => {
          submitButton.disabled = true;
        });

        loginForm.addEventListener('reset', () => {
          submitButton.disabled = false;
        });
      });
    </script>
  </body>
</html>
